html, body {
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

section {
    height: 100vh;

    &:first-of-type {
        display: flex;
        align-items: center;

        h1 {
            background: url("http://45.media.tumblr.com/ebd340041630a2360a69996e5b24539d/tumblr_nnhg7mgOh41snv52fo1_500.gif") 0 0 no-repeat;
            background-size: cover;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            word-break: break-all;
            font-size: 20vw;
            line-height: 0.7;
            border-bottom: solid 1px black;
        }
    }

    &:nth-of-type(2) {

    }

    &:last-of-type {
        background: url("http://i.imgur.com/pBOjCxJ.gif") 0 0 no-repeat;
        background-size: cover;

        span {
            color: white;
            box-shadow: none;

            &:hover {
                cursor: pointer;
            }

        }
    }
}

.popover-footer {
    text-align: center;
    display: none;
    border: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);

    &:hover {
        cursor: pointer;
    }

    .popover-title {
        background: #fff;
    }
}

.social {
    text-align: center;

    .fb-like {
        top: -6px;
    }
}