html, body {
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

section {
    height: 100vh;
    display: flex;
    align-items: center;

    &:first-of-type {


        h3 {
            opacity: 0;
        }

        img {
            width: 65vw;
            margin-bottom: 5px;
        }
    }

    &:nth-of-type(2) {

    }

    &:last-of-type {
        span {
            color: white;
            box-shadow: none;

            &:hover {
                cursor: pointer;
            }

        }
    }
}

.popover-footer {
    text-align: center;
    display: none;
    border: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);

    &:hover {
        cursor: pointer;
    }

    .popover-title {
        background: #fff;
    }
}

.bg-change {
    background: url('https://media.giphy.com/media/26FPOipKCo0ClslsQ/giphy.gif') 0 0 no-repeat;
    background-size: cover;
    opacity: 0;
}

.social {
    text-align: center;

    .fb-like {
        top: -6px;
    }
}